html {
  background: linear-gradient(to top, #1a0601, black);
  background-color: #000;
  background-attachment: fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #E5DFD0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
